/* title */
.customer__title {
  font-size: var(--size-3xl);
  margin: 0 0 3rem;
  width: 93%;
}
/* image for web */
.customer__img-for-web {
  display: none;
}
/* xs */
@media (min-width: 475px) {
  /* title */
  .customer__title {
    font-size: var(--size-4xl);
    width: 83%;
  }
  /* image */

  .customer__img-for-web {
    width: 100%;
    display: block;
  }

  .customer__img-for-mobile {
    display: none;
  }
}
/* sm */
@media (min-width: 640px) {
  .customer__title {
    width: 60%;
  }
}
/* md */
@media (min-width: 768px) {
  .customer__title {
    width: 50%;
  }
}
/* lg */
@media (min-width: 1024px) {
  .customer__title {
    width: 50%;
    /* width: 45%; */
    font-size: var(--size-5xl);
  }
}
/* xl */
@media (min-width: 1280px) {
  .customer__title {
    width: 40%;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .customer__title {
    width: 37%;
  }
}
