.features {
  /* background-color: var(--clr-background-dark); */
  background-color: var(--clr-on-features-section);
  text-align: center;
  color: white;
  font-size: var(--size-xl);
}

/* subtitle */
.features__subtitle {
  padding-top: 2rem;
  color: #ffffff6b;
  font-size: var(--size-sm);
  letter-spacing: 4px;
}
/* containers */
/* text container */
.feature__text-wrapper {
  /* margin-top: 4rem; */
  padding-bottom: 4rem;
}
/* icon container */
.features__company {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* slack icon */
.features__slack-icon {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.slack-icon {
  margin-right: 0.3rem;
}

/* google icon text */
.google-icon {
  font-weight: 500;
}

/* supreme icon text */
.supreme-icon {
  font-style: italic;
  font-weight: 500;
}
/* sony icon text */
.sony-icon {
  font-weight: 900;
  letter-spacing: 4px;
  font-family: serif;
}
/* image container */
.feature-image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
/* img */
.feature-img {
  width: 50%;
}
/* title */
.feature__title {
  margin-top: 1.5rem;
  font-size: var(--size-3xl);
  text-align: left;
  width: 80%;
}

.feature__color {
  color: var(--clr-feature);
}

.feature__description {
  font-size: var(--size-sm);
  text-align: left;
  font-weight: 200;
  width: 61%;
  margin-top: 0.8rem;
}
/* download button */
.feature__download-container {
  margin-top: 2rem;
}

/* xs */
@media (min-width: 475px) {
  /* text */
  .feature__description {
    font-size: var(--size-xs);
    width: 100%;
  }

  .features__subtitle {
    font-size: var(--size-lg);
  }

  .feature__title {
    width: 84%;
    margin-top: 0;
  }

  /* container */
  .features__company {
    width: 89%;
    margin: 2rem auto 0;
  }

  .feature__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
  }
  /* image */
  .feature-image {
    position: relative;
    top: 2rem;
    flex: 0 1 355px;
    margin-top: 0;
  }

  .feature-image img {
    width: 100%;
  }
}

/* sm */
@media (min-width: 640px) {
  .feature__title {
    width: 75%;
    margin-top: 0;
  }

  .feature__text-wrapper {
    margin-top: 3rem;
  }
  .feature-image {
    /* top: 7rem; */
    /* flex: auto; */
    flex: 0 1 400px;
    margin-top: 0;
    margin-left: 5rem;
  }
  .feature__wrapper {
    align-items: flex-start;
    gap: 2rem;
  }
}
/* md */
@media (min-width: 768px) {
  .feature__title {
    width: 65%;
  }

  .feature-image {
    margin-left: 7rem;
    top: 5rem;
  }
  .feature__wrapper {
    gap: 2rem;
    margin-top: 0;
  }

  .feature__text-wrapper {
    margin-top: 7rem;
  }
  .feature__download-container {
    margin-top: 2rem;
  }
}
/* lg */
@media (min-width: 1024px) {
  /* text */
  .feature__title {
    width: 84%;
    font-size: var(--size-5xl);
  }

  .features__subtitle {
    font-size: var(--size-2xl);
    padding-top: 6rem;
  }

  .feature__wrapper {
    gap: 4rem;
    margin-top: 3rem;
  }

  .feature__description {
    font-size: var(--size-lg);
    margin-top: 2rem;
  }

  /* container */
  .features__company {
    margin-top: 4rem;
    justify-content: space-around;
  }
  /* text icons  */
  .features__slack-icon,
  .google-icon,
  .supreme-icon,
  .features__sony-icon {
    font-size: var(--size-3xl);
  }
  .supreme-icon {
    font-weight: 600;
  }

  /* download apple icon */
  .apple-icon {
    margin-right: 25px;
  }

  /*images  */
  .feature-image {
    /* top: 13rem; */
    /* top: 5rem; */
    flex: 0 1 675px;
    margin-left: 0;
  }
  .feature-image img {
    width: 74%;
  }
}

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
