.footer__container {
  /* width: 90%;
  margin-left: auto;
  margin-right: auto; */
}

/* logo title */
.logo__title-footer {
  font-size: var(--size-2xl);
}
/* logo image */
.logo__footer-img {
  width: 28px;
  height: auto;
}
/* subtitle */
.footer__description {
  margin-top: 0.5rem;
  font-size: var(--size-sm);
  text-transform: capitalize;
  color: var(--clr-really-gray);
}
/* link container */
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}
/* list */
.footer__list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.footer__list li {
  margin-bottom: 1rem;
  font-size: var(--size-sm);
}

.footer__list li:last-child {
  margin-bottom: 0;
}
/* footer title */
.footer__title {
  color: var(--clr-font);
  font-size: var(--size-lg);
}

/* footer anchor */

/* .footer__link {
  margin-bottom: 3rem;
} */

.footer__link a:link,
.footer__link a:visited {
  text-decoration: none;
  color: var(--clr-links);
}

.footer__link a:hover,
.footer__link a:active {
  color: var(--clr-links-hover);
  font-weight: 600;
}
/* download app */
.footer__download-app {
  margin-top: 3rem;
}
/* socail media container */
.socail-media {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 3rem;
  /* margin-top: 2rem; */
}
/* icons size*/
.socail-media-icon {
  font-size: var(--size-xl);
  color: #a8a7db;
}

.socail-media-icon:hover {
  color: #302dc3;
}

/*  */

.footer__social-media-and-download-app {
  position: relative;
}
.footer__social-media-and-download-app::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 136px;
  width: 100%;
  border: 1px solid #8a8a8a36;
  /* height: 1rem; */
}
/* copyright */
.footer__copyright {
  margin-top: 2rem;
  color: var(--clr-links-inactive);
  font-size: var(--size-sm);
  /* color: red; */
}
/* paragraph */
.footer__copyright-description {
  margin-top: 3rem;
}
/* made-by */
.footer__copyright-made-by {
  margin: 1.5rem 0 2rem;
}

/* xs */
@media (min-width: 475px) {
  .footer__links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* .footer__special {
    display: flex;
    gap: 6rem;
  } */
}

/* sm */
@media (min-width: 640px) {
  .footer__links {
    /* gap: 4rem; */
  }

  .footer__link {
    flex: auto;
    /* padding: 0 4rem; */
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  /* text */
  .footer__title {
    font-size: var(--size-lg);
  }

  /* icons size*/
  .fa-brands {
    font-size: var(--size-2xl);
  }
  /* social media */
  .footer__social-media-and-download-app {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .footer__social-media-and-download-app::after {
    top: 118px;
  }

  /* copyright */
  .footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0.5rem;
    /* margin-top: 2rem; */
  }
  .footer__copyright-description {
    font-size: var(--size-xs);
  }
}
/* md */
/* @media (min-width: 768px) {
} */
/* lg */
@media (min-width: 1024px) {
  .footer__links {
    gap: 2.53rem;
    /* gap: 0rem; */
    /* gap: 1.5rem; */
  }

  .footer__link {
    flex: 0 1 auto;
    margin-left: 0;
    margin-right: 0;
  }

  .footer__logo {
    align-items: stretch;
  }

  .logo__footer-img {
    width: 28px;
    height: 29px;

    /* width: 39px;
    height: auto; */
  }
  /* text */
  .header__logo span {
    font-size: var(--size-2xl);
  }
  .footer__description {
    margin-top: 0.8rem;
    font-size: var(--size-sm);
  }
  .footer__title {
    font-size: var(--size-base);
  }
  /* links */
  .footer__list li {
    font-size: var(--size-sm);
  }
}
/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
