.header {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}
/* bar button */
.header__bars {
  width: var(--size-2xl);
  height: var(--size-2xl);
  color: var(--clr-links);
  display: block;
  background: var(--clr-background);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: var(--size-sm);
}

.header__logo span {
  margin-left: 0.2rem;
  color: var(--clr-font);
}

.header_arrow_down {
  cursor: pointer;
}

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */
/* md */
@media (min-width: 768px) {
  /* header list */
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  /* navbar */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo {
    display: flex;
    align-items: center;
    color: var(--clr-links);
  }

  .header__logo:hover {
    cursor: pointer;
    color: var(--clr-links-hover);
  }

  /* link */
  .header__link {
    font-size: var(--size-xs);
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-links);
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--clr-links-hover);
  }
  .header__line {
    border: 1px solid var(--clr-links);
    padding-top: 1em;
  }
  /* sun icon */
  .header__sun {
    display: block;
    color: var(--clr-slate600);
    width: var(--size-base);
    height: var(--size-base);
    background: var(--clr-background);
    color: var(--clr-links);
  }
  /* arrow icon */
  .header_arrow_down {
    display: flex;
    align-items: baseline;
    gap: 0.3rem;
  }
  .fa-angle-down {
    color: var(--clr-links);
  }
  .header__bars {
    margin-left: 43px; /* display: none; */
  }

  .header__logo {
    margin-right: auto;
  }
}

/* lg */
@media (min-width: 1024px) {
  nav {
    margin-top: 2rem;
  }
  /* link */
  .header__link {
    font-size: var(--size-sm);
  }

  .header__logo span {
    font-size: var(--size-base);
    margin-left: 0.08em;
  }
  .header__line {
    border: 1px solid var(--clr-links);
    padding-top: 1em;
  }
  /* sun icon */
  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  .header__logo {
    margin-right: auto;
  }
  .header__logo img {
    width: 28px;
  }
}
/* xl */
@media (min-width: 1280px) {
  .header__logo span {
    font-size: var(--size-xl);
  }
  .header__logo img {
    width: 23px;
    height: 23px;
  }
  .header__link {
    /* background-color: rebeccapurple; */
    font-size: var(--size-lg);
  }

  .header_arrow_down {
    font-size: var(--size-xl);
  }
  /* sun icon */
  .header__sun {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
  /* menu bar icon */
  .header__bars {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
  /* .header_arrow_down {
  font-size: 1rem
} */
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
